body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.todo-container {
  background: #fff;
  padding: 30px;
  width: 350px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
}
button {
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  background: #667eea;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #764ba2;
}

ul {
  list-style: none;
}

li {
  background: #f3f3f3;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  cursor: pointer;
  color: red;
  font-weight: bold;
}
